﻿@{
    ViewBag.Title = "Home Page";
}
<h1>YATL</h1>
<div class="row indexContainer">
    @Item("Item One", "Lorem ipsum dolor sit amet, eam ne vide etiam. Etiam necessitatibus ad nam, pri posse decore legendos ne. Clita docendi qui in. Vix virtute sanctus ex, mei suas simul facilisi ut. ", DateTime.Now)
    @Item("Item Two", "Lorem ipsum dolor sit amet, eam ne vide etiam. Etiam necessitatibus ad nam, pri posse decore legendos ne.", DateTime.Now.AddDays(-5))
    @Item("Item Three", "Lorem ipsum dolor sit amet, eam ne vide etiam. Etiam necessitatibus ad nam, pri posse decore legendos ne. Clita docendi qui in. Vix virtute sanctus ex, mei suas simul facilisi ut. Pro nemore debitis nonumes at, debet iuvaret his ei.", DateTime.Now.AddDays(12))
</div>

@helper Item(string title, string desc, DateTime dueDate)
{
    <div class="item col-md-3">
        <h3>@title</h3>
        <p>Due: @dueDate.ToString()</p>
        <p>@desc</p>
    </div>
}